.main-navigation__menu-btn {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background: transparent;
  margin-right: 2.5rem;
  outline: none;
}
.main-navigation__menu-btn span {
  display: block;
  background: white;
  width: 3rem;
  height: 2.5px;
}

.main-navigation__title {
  color: white;
}

.main-navigation__title a {
  color: white;
  text-decoration: none;
}

.main-navigation__header-nav {
  display: none;
}

.main-navigation__drawer-nav {
  height: 100%;
}

@media (min-width: 768px) {
  .main-navigation__menu-btn {
    display: none;
  }
  .main-navigation__header-nav {
    display: block;
  }
}
